* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.left {
  flex: 1;
  background-color: #f2f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 70%;
  max-width: 500px;
}

/* RIGHT */
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 400px;
}

.login-box h2 {
  margin-bottom: 10px;
  color: #1e3a8a;
}

.login-box p {
  margin-bottom: 20px;
  color: #555;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.options a {
  text-decoration: none;
  color: #1e3a8a;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #162d6b;
}